/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.screen {
  background: #363636;
  color: #fff;
  font: 12px MozTT, sans-serif;
}

.action-header {
  background: #242424;
  border-bottom: 1px solid #383838;
  box-shadow: 0 0 2px rgba(0, 0, 0, .5);
  overflow: hidden;
  /* The extra 1px gives the loading bar a bit of room to breathe. */
  padding-bottom: 1px;
  /* Contains absolute elements. */
  position: relative;
  /* Make sure box-shadow shows up over the top of content below. */
  z-index: 2;
}

/* Progress indicator. Should be shown every time we're downloading. */
.action-loading {
  display: block;
  height: 3px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
}
.action-loading > span {
  background: url(assets/progress.png);
  animation: 250ms throb infinite steps(7);
  display: block;
  font-size: 0px;
  height: 24px;
  text-indent: -9999px;
}

@keyframes throb {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-21px);
  }
}

/* Wrapper for .action-bar. Allows us to put space around the bar, since input
elements can't ever be truly width: auto; */
.action-fields {
  margin: 7px;
}
.action-bar {
  background: #fff url(assets/search.png) no-repeat 0 0;
  border: 1px solid #000;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px/16px MozTT, sans-serif;
  height: 34px;
  padding: 4px 8px 4px 36px;
  width: 100%;
}

/* Basic shared list style that nukes default bulllets. */
.action-matches,
.action-completions,
.action-results {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 
.action-match represents a match, which can be an action or action widget.
60px high. */
.action-match {
  border-bottom: 1px solid #4a494b;
  min-height: 44px;
  /* Trust the inner item to provide a bottom margin or padding. */
  /* Contains absolute elements. */
  position: relative;
}

/*
.*-gaiamobile-org are modifier classes for .action-match.
Based on local url of app.

Used to define background images for entries. */
.music-gaiamobile-org:before,
.contacts-gaiamobile-org:before,
.dialer-gaiamobile-org:before,
.messages-gaiamobile-org:before,
.browser-gaiamobile-org:before,
.email-gaiamobile-org:before,
.facebook-com:before,
.imdb-com:before,
.yelp-com:before {
  content: '';
  background-repeat: no-repeat;
  background-size: 30px auto;
  height: 30px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 30px;
}

.music-gaiamobile-org:before {
  background-image: url(assets/Icon_Music.png);
}
.contacts-gaiamobile-org:before {
  background-image: url(assets/Icon_Contacts.png);
}
.dialer-gaiamobile-org:before {
  background-image: url(assets/Icon_Dialer.png);
}
.messages-gaiamobile-org:before {
  background-image: url(assets/Icon_SMS.png);
}
.browser-gaiamobile-org:before {
  background-image: url(assets/Icon_Browser_Unbranded.png);
}
.email-gaiamobile-org:before {
  background-image: url(assets/Icon_E-Mail.png);
}
.facebook-com:before {
  background-image: url(assets/Icon_Facebook.png);
}
.imdb-com:before {
  background-image: url(assets/Icon_Imdb.png);
}
.yelp-com:before {
  background-image: url(assets/Icon_Yelp.png);
  top: 110px;
}

/* Individual action inside of an .action-match container.
Styling inner element instead of .action-match allows us to be more flexible
with how actions are rendered (widgets, autocomplete, etc). */
.action-match > .action-entry {
  padding: 7px 7px 7px 45px;
}

/* General title and subtitle styles */
.action-entry > .title,
.action-entry > .subtitle,
.action-completion > .title,
.action-result > .title,
.action-result > .subtitle {
  display: block;
  font: normal normal 14px/16px MozTT, sans-serif;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action-entry > .subtitle {
  color: #8a9699;
  font-size: 12px;
}

.action-completions {
  margin: 7px 0;
}

/* Action completion -- autocomplete results for verbs/nouns */
.action-completion {
  background: url(assets/search.png) 8px 3px no-repeat;
  margin: 0;
  padding: 10px 7px 10px 45px;
}
.action-completion > .title {
  display: block;
  color: #8a9699;
  font: normal normal 14px/16px MozTT, sans-serif;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.action-completion > .title > b {
  color: #fff;
  font-weight: normal;
}

/* Action results -- a list of results for a given query. Usually inside
of an .action-match. */
.action-results {
  padding: 7px 7px 1px 45px;
}

.action-results > .title {
  color: #8a9699;
  font-size: 10px;
  margin: 0 0 7px;
  text-transform: uppercase;
}

/* Action results are lists of search results from various apps. */
.action-result {
  margin-bottom: 14px;
}
.action-result > .title {
  font-size: 12px;
}
.action-result > .subtitle {
  color: #8a9699;
  font-size: 11px;
}
.action-result-unread {
  position: relative;
}
.action-result-unread:before {
  background: #52B6CC;
  border-radius: 50%;
  content: '';
  height: 7px;
  left: -26px;
  position: absolute;
  top: 6px;
  width: 7px;
}

.map-container {
    overflow: hidden;
    height: 125px;
    
}